html, body, #app, #page-content {
  height: 100% !important;
  background: #dcdcdc;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidebar {
  height: 100vh;
}
